In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://localhost:27017')

In [3]:
myDb = client['Students']
myDbCollection = myDb.studentsInformation

In [5]:
records = [ {
    "name":"Muhammad Noor",
    "dob":"11/4/2000",
    "section":"A",
    "age":22}, {
    "name":"Muhammad Zubair",
    "dob":"11/9/2004",
    "section":"B",
    "age":21}, {
    "name":"Muhammad Usama Imran",
    "dob":"1/4/2001",
    "section":"B",
    "age":22}]
myDbCollection.insert_many(records)

InsertManyResult([ObjectId('65c5ff53265a4fe565493922'), ObjectId('65c5ff53265a4fe565493923'), ObjectId('65c5ff53265a4fe565493924')], acknowledged=True)

In [12]:
firstStudent = myDbCollection.find_one()
print(firstStudent['name'])

Muhammad Aliyan Nadeem

In [7]:
myDbCollection.find({})

In [10]:
for i in myDbCollection.find():
    print(i)

{'_id': ObjectId('65c5fba5420413cb569a86cd'), 'name': 'Muhammad Aliyan Nadeem', 'dob': '21/4/2004', 'section': 'A', 'age': 20}
{'_id': ObjectId('65c5ff53265a4fe565493922'), 'name': 'Muhammad Noor', 'dob': '11/4/2000', 'section': 'A', 'age': 22}
{'_id': ObjectId('65c5ff53265a4fe565493923'), 'name': 'Muhammad Zubair', 'dob': '11/9/2004', 'section': 'B', 'age': 21}
{'_id': ObjectId('65c5ff53265a4fe565493924'), 'name': 'Muhammad Usama Imran', 'dob': '1/4/2001', 'section': 'B', 'age': 22}

In [21]:
#!By some conditions
found = False
for i in myDbCollection.find({'name':'MuhammadAliyan Nadeem'}):
     print(i)
     found = True
if not found:
     print("Data not found")

Data not found

In [27]:
#Query with operators
found = False
for i in myDbCollection.find({'section':{'$in':['D','C']}}):
    print(i)
    found = True
if not found:
    print("No data found")

No data found

In [30]:
#And, less then and greater then
found = False
for i in myDbCollection.find({'section':"A", 'age':{'$gt':19}}):
    print(i)
    found = True
if not found:
    print("No data found")

{'_id': ObjectId('65c5fba5420413cb569a86cd'), 'name': 'Muhammad Aliyan Nadeem', 'dob': '21/4/2004', 'section': 'A', 'age': 20}
{'_id': ObjectId('65c5ff53265a4fe565493922'), 'name': 'Muhammad Noor', 'dob': '11/4/2000', 'section': 'A', 'age': 22}

In [35]:
#Or Condition
found = False
for i in myDbCollection.find({'$or':[{"age":{'$gt':20}},{"section":"C"}]}):
    print(i)
    found = True
if not found:
    print("No data found")

{'_id': ObjectId('65c5ff53265a4fe565493922'), 'name': 'Muhammad Noor', 'dob': '11/4/2000', 'section': 'A', 'age': 22}
{'_id': ObjectId('65c5ff53265a4fe565493923'), 'name': 'Muhammad Zubair', 'dob': '11/9/2004', 'section': 'B', 'age': 21}
{'_id': ObjectId('65c5ff53265a4fe565493924'), 'name': 'Muhammad Usama Imran', 'dob': '1/4/2001', 'section': 'B', 'age': 22}

In [47]:
data = []
for i in myDbCollection.find({}):
    data.append(i)

In [55]:
for i in data:
    print(i['name'],i['age'],i['dob'],i['section'])

Muhammad Aliyan Nadeem 20 21/4/2004 A
Muhammad Noor 22 11/4/2000 A
Muhammad Zubair 21 11/9/2004 B
Muhammad Usama Imran 22 1/4/2001 B